Arpeggio==2.0.2
asttokens==2.4.1
build==1.0.3
certifi==2023.7.22
charset-normalizer==3.3.0
decorator==5.1.1
docker==6.1.3
exceptiongroup==1.1.3
executing==2.0.1
fasm==0.0.2.post88
idna==3.4
ipdb==0.13.13
ipython==8.17.2
jedi==0.19.1
joblib==1.3.2
matplotlib-inline==0.1.6
more-itertools==10.1.0
numpy==1.26.1
packaging==23.2
pandas==2.1.4
parso==0.8.3
pexpect==4.8.0
prompt-toolkit==3.0.39
ptyprocess==0.7.0
pure-eval==0.2.2
pyflakes==3.2.0
Pygments==2.16.1
pyproject_hooks==1.0.0
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
six==1.16.0
stack-data==0.6.3
textX==3.1.1
tomli==2.0.1
tqdm==4.66.1
traitlets==5.13.0
tzdata==2023.3
urllib3==2.0.7
wcwidth==0.2.9
websocket-client==1.6.4
